@{
    ViewBag.Title = "Product | Order Complete";
}

<p>
    Order complete. Order Id = <b>@ViewBag.Id</b>.<br>
    Click <a href="/Product/OrderDetail/@ViewBag.Id">here</a> to view order detail.
</p>
